<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>All products</h1>

<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Cost</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${productList}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.title}"></td>
        <td th:text="${s.cost}"></td>
        <td><a th:href="@{'/products/edit/' + ${s.id}}" >Редактировать</a></td>
        <td><a th:href="@{'/products/JSON/' + ${s.id}}" >JSON</a></td>

    </tr>
    </tbody>
</table>

<a th:href="@{/products/add}">Add new</a>



</body>
</html>